<div class="detail">
    <div *ngIf="hero" class="form">
        <label>
            {{ hero.name | uppercase }} Details
            <input class="input" [(ngModel)]="hero.name" placeholder="name"/>
            <textarea class="textarea" [(ngModel)]="hero.description" placeholder="description"></textarea>
        </label>
    </div>
    <a routerLink="/detail/{{hero.id}}" class="hero-card">
        <div class="thumbnail" [ngStyle]="{'background-image': 'url(' + hero.thumbnail + ')'}"></div>
        <div class="name">{{ hero.name | uppercase }}</div>
        <div class="description">{{ hero.description }}</div>
        <div class="id">ID : {{ hero.id }}</div>
    </a>
</div>
<button class="router-link" (click)="goBack()">go back</button>