.messages-body {
    width: 200px;
    min-height: 200px;
    max-height: 285px;
    margin-top: 50px;
    margin-bottom: 150px;
    top: 25px;
    right: 25px;
    padding: 15px;
    color: #000;
    overflow-y: auto;
    opacity: 0.4;
    transition: opacity 0.15s ease;
}

.messages-body:hover {
    opacity: 1;
}

.message {
    display: block;
    margin-bottom: 15px;
    padding: 8px 8px;
    box-shadow: 0 1px 2px 0 rgba(10, 10, 10, 0.25);
    font-size: 14px;
    line-height: 18px;
}

.title {
    margin-bottom: 15px;
    line-height: 24px;
    font-size: 18px;
    text-align: right;
}

.clear {
    border: none;
    outline: none;
    background-color: rgba(255, 20, 20, 0.5);
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}