h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.main-title {
    text-align: center;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

.router-link {
  margin-right: 10px;
  border-radius: 3px;
  padding: 10px;
  background-color: rgb(124, 157, 206);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.router-link:hover {
  background-color: rgb(94, 132, 185);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}  